body{ padding-top: 90px; background: #246;}

button{ background: none; border: none;}

.navbar-fixed-top { border: 0; }
.navbar-collapse{ padding: 0;}

/* global */
.container-fluid{}

.pipe{ margin: 0 10px;}

/* header */
.header{ margin-bottom: 0; padding: 20px; background: #fff; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);}
.header .navbar-right li{ text-align: right;}
.header .navbar-right li a:hover{ background: none;}
@media (min-width: 768px) {
.header{ min-height: 90px; }
}

/* sidebar */
.sidebar{ padding: 20px 0;}
.sidebar .nav li a{ padding: 12px 20px; color: #DEDEDE;}
.sidebar .nav li a .icon{ margin-right: 10px;}
.sidebar .nav li a:hover, .sidebar .nav li.active a{ background-color: #125FB2; color: #fff;}
@media (min-width: 768px) {
.sidebar { position: fixed; top: 90px; bottom: 0;left: 0; z-index: 1000; display: block; width: 180px; overflow-x: hidden; overflow-y: auto;}
}


/* main */

.main { padding: 20px;}
@media (min-width: 768px) {
.main { margin-left: 180px;}

}


/* footer */
.footer{ color: #fff;}

@media (min-width: 768px) {
.header{ min-height: 90px; }

}